.carousel_card_transition {
   display: flex;
   overflow: hidden;
   width: 100%;
   height: 100%;
   box-shadow: 0px 0px 11px 3px rgb(0,0,0.15);
   opacity: 0;
   pointer-events: none;
   transform: scale(0.8);
   transition: 0.5s ease-in-out;
}

.carousel_card_active{
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}