.carousel_card_transition {
   display: flex;
   overflow: hidden;
   width: 100%;
   height: 100%;
   box-shadow: 0px 0px 11px 3px rgb(0,0,0.15);
   opacity: 0;
   pointer-events: none;
   transform: scale(0.8);
   transition: 0.5s ease-in-out;
}

@keyframes fade-out{
   0%{
    opacity: 0;
    transform: translateX(-30px) scale(0.9);
   }
   100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
   }
}
.carousel_card_active{
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

.banner_spin{
   animation: fade-out 300ms linear forwards;
   animation-timeline: view() ;
   animation-range:entry ;
   padding-right: 1em;
   padding: 1em;
   align-content: center;
}

