.carousel_card_transition {
   display: flex;
   overflow: hidden;
   width: 100%;
   height: 100%;
   box-shadow: 0px 0px 11px 3px rgb(0,0,0.15);
   opacity: 0;
   pointer-events: none;
   transform: scale(0.8);
   transition: 0.5s ease-in-out;
}

.carousel_card_active{
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}


@keyframes fade-in{
   0%{
    opacity: 0;
    transform: translateX(-30px) scale(0.9);
   }
   100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
   }
}


.promotions_fade{
   animation: fade-in 300ms linear forwards;
   animation-timeline: view() ;
   animation-range:entry ;
   padding-right: 1em;
   padding: 1em;
   align-content: center;
}

.hide-scrollbar::-webkit-scrollbar{
   display: none;
}

.hide-scrollbar{
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.board_auto_scroll{
   position: relative;
   animation: spin 25s infinite linear;
}
/* The code beneath this comment is responsible for auto scrolling the elements in the imageboard. 
If you wish to adapt this component to n amount of images in the image board, simply adjust the value 4 to the amount of banner images you want the animation to handle*/
@keyframes scroll-left {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(calc(-1 * 4 *(100% + 16px * 2)));
   }
}

@keyframes scroll-right {
   100% {
      transform: translateX(0);
   }
   0% {
      transform: translateX(calc(-1 * 4 *(100% + 10px * 2)));
   }
}

.board_auto_scroll_left { 

   animation: scroll-left 52s linear infinite;
}
.board_auto_scroll_right{
   animation: scroll-right 50s linear infinite;
}






